<p id="notice"><%= notice %></p>

<p>
  <b>Nome completo:</b>
  <%= @cliente.nome_completo %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Igreja:</b>
  <%= @cliente.igreja %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
